example/example4.json
{
    "nodes": [
        {
            "parameters": {},
            "id": "43e68fe1-7f48-4bc9-b19a-66d39bee5bbd",
            "name": "When clicking ‘Test workflow’",
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                460,
                740
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "model": "openai/gpt-4.1-nano",
                "options": {}
            },
            "id": "32aa401a-60c3-4436-94d5-5ba09d3be6ae",
            "name": "OpenRouter Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "position": [
                1060,
                720
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "f6d325b4-ff87-4bba-9f27-b68590c8a533",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "position": [
                460,
                500
            ],
            "webhookId": "e61d3286-920e-406c-b787-d330cf897ef4",
            "typeVersion": 1.1,
            "credentials": {}
        },
        {
            "parameters": {
                "content": "## Mail Agent\nFor emails in the inbox, archive those that are completely unnecessary, and label the rest based on their relevance.\n\n",
                "height": 680,
                "width": 1660
            },
            "id": "8e10c622-9bf8-414b-8364-185c5c4808a0",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                380,
                240
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "### Trigger\nRun by communicating with Telegram",
                "height": 360,
                "width": 180,
                "color": 5
            },
            "id": "2e664cd4-37af-4b8f-84a5-ff07911b8aaa",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                420,
                340
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "### Get Mail via Gmail\nRetrieve all emails in the Gmail inbox.\n(Inbox = Label: INBOX)",
                "height": 360,
                "width": 180,
                "color": 4
            },
            "id": "966af8d0-bfca-40fa-b97c-ec1bb7de82d2",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                620,
                340
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "### Filter\nFilter out emails that have already been processed to avoid unnecessary work for the AI.\n\n",
                "height": 360,
                "width": 180,
                "color": 4
            },
            "id": "07dabeda-a075-4e45-9ecf-9a0e6d0df0b2",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                820,
                340
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "### AI Agent\nCheck each email one by one, categorize them as necessary or unnecessary according to the provided prompt, and instruct Gmail to apply the appropriate labels.",
                "height": 540,
                "width": 980,
                "color": 3
            },
            "id": "b9a96646-283e-4328-8c79-57befa97bb69",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1020,
                340
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "operation": "addLabels",
                "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
                "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
            },
            "id": "32c73c57-61b5-430b-a011-f0b44fa2b226",
            "name": "mail_label_setter",
            "type": "n8n-nodes-base.gmailTool",
            "position": [
                1340,
                720
            ],
            "webhookId": "37bb94d2-6aeb-4038-afc7-e25a330e7860",
            "typeVersion": 2.1,
            "credentials": {}
        },
        {
            "parameters": {
                "operation": "removeLabels",
                "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
                "labelIds": [
                    "INBOX"
                ]
            },
            "id": "7cf38850-939c-4c8e-af62-1f730d5b7e34",
            "name": "mail_archiver",
            "type": "n8n-nodes-base.gmailTool",
            "position": [
                1200,
                720
            ],
            "webhookId": "81956225-38dd-4acf-b97a-8e68f332f56a",
            "typeVersion": 2.1,
            "credentials": {}
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "id": "5fab497e-a632-4565-8048-7ae9b209728d",
            "name": "Aggregate",
            "type": "n8n-nodes-base.aggregate",
            "position": [
                1360,
                500
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "={{ $json.output }}",
                "additionalFields": {}
            },
            "id": "f7144884-6ba6-4e97-be35-f5f8b27d56ad",
            "name": "Telegram",
            "type": "n8n-nodes-base.telegram",
            "position": [
                1800,
                500
            ],
            "webhookId": "6324ebbf-b2c3-42c3-b4ee-849184380b4f",
            "typeVersion": 1.2,
            "credentials": {}
        },
        {
            "parameters": {
                "model": "openai/gpt-4.1-nano",
                "options": {}
            },
            "id": "9236fbc1-ffad-4bf0-b3a1-5d389e5b422c",
            "name": "OpenRouter Chat Model1",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "position": [
                1500,
                720
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Summarize data\n```\n{{ $json.data.map(item => item.output + '\\n\\n') }}\n```\n",
                "options": {
                    "systemMessage": "=# persona\n* You are a helpful assistant.\n"
                }
            },
            "id": "e0ec10ca-ad72-4784-891e-5bd5bcff7082",
            "name": "Reporter",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                1500,
                500
            ],
            "typeVersion": 1.8
        },
        {
            "parameters": {
                "operation": "getAll",
                "returnAll": true,
                "filters": {
                    "labelIds": [
                        "INBOX"
                    ]
                }
            },
            "id": "9b4f8e14-7b9c-45b3-97cb-32f2fe756440",
            "name": "Get mails in INBOX",
            "type": "n8n-nodes-base.gmail",
            "position": [
                660,
                500
            ],
            "webhookId": "f4c95906-916d-4c94-8e35-cb37c9472043",
            "typeVersion": 2.1,
            "credentials": {}
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "1091eba0-3d75-47b6-92c5-404f93e263ae",
                            "operator": {
                                "type": "array",
                                "operation": "notContains",
                                "rightType": "any"
                            },
                            "leftValue": "={{ $json.labels.map(item => item.name)}}",
                            "rightValue": "NotNeed"
                        },
                        {
                            "id": "31160689-98ce-43ac-8c7b-116cd7da5ebc",
                            "operator": {
                                "type": "array",
                                "operation": "notContains",
                                "rightType": "any"
                            },
                            "leftValue": "={{ $json.labels.map(item => item.name)}}",
                            "rightValue": "MustRead"
                        }
                    ]
                },
                "options": {}
            },
            "id": "13088de9-6f96-463e-bcb6-92f97d7144d9",
            "name": "Filter processed",
            "type": "n8n-nodes-base.filter",
            "position": [
                860,
                500
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=<task>\nProcess mail\n</task>\n<mail>\n<id>{{ $json.id }}</id>\n<from>{{ $json.From }}</from>\n<subject>{{ $json.Subject }}</subject>\n<body>{{ $json.snippet }}</body>\n</mail>",
                "options": {
                    "systemMessage": "=<persona>\nYou are an email processing assistant.\n</persona>\n<task>\nLook at the content of the email and decide whether to apply a label or archive it, processing it only once. First, archive those that are absolutely unnecessary using the mail_archiver tool. This judgment is the top priority. After that, if it does not fall into that category, determine whether it should be read based on the following criteria and use the mail_label_setter tool to apply the label.\n<case>Absolutely unnecessary: Archive using the mail_archiver tool</case>\n<case>Needs to be read: Apply \"Label_[label_id]\" using the mail_label_setter tool</case>\n<case>Other: Apply \"Label_[label_id]\" using the mail_label_setter tool</case>\nReport the processing results carefully.\n</task>\n<rules>\n<Archive>\nEmails that are absolutely unnecessary and will be archived\n<item>[list up your rule1]</item>\n<item>[list up your rule2]</item>\n</Archive><MustRead>\nEmails that need to be read\n<item>[list up your rule1]</item>\n<item>[list up your rule2]</item>\n</MustRead>\n<Other>\nEmails that are not necessary to read but will not be archived\n<item>[list up your rule1]</item>\n<item>[list up your rule2]</item>\n</Other>\n</rules>"
                }
            },
            "id": "317ea413-e8fd-4148-8115-8b4d2b9a7fe4",
            "name": "Categoriser",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                1060,
                500
            ],
            "typeVersion": 1.7
        }
    ],
    "connections": {
        "When clicking ‘Test workflow’": {
            "main": [
                [
                    {
                        "node": "Get mails in INBOX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Categoriser",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Get mails in INBOX",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "mail_label_setter": {
            "ai_tool": [
                [
                    {
                        "node": "Categoriser",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "mail_archiver": {
            "ai_tool": [
                [
                    {
                        "node": "Categoriser",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "Reporter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Reporter",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Reporter": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get mails in INBOX": {
            "main": [
                [
                    {
                        "node": "Filter processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter processed": {
            "main": [
                [
                    {
                        "node": "Categoriser",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Categoriser": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "9f25a496ffb252c6090807211c45d15491f7e182942cdc0bb445ca890f7cebe9",
        "templateCredsSetupCompleted": true
    }
}