example/example3.json
{
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "ca8b122d-1739-4377-ac99-e20dd2341342",
            "name": "Incoming Message",
            "type": "n8n-nodes-base.telegramTrigger",
            "position": [
                420,
                420
            ],
            "webhookId": "75921955-c8ed-4ff6-8de2-e436c6bbe69d",
            "typeVersion": 1.2,
            "credentials": {}
        },
        {
            "parameters": {
                "path": "562ffc95-cf8e-4d4d-8f5b-29b3ff22d5ee"
            },
            "id": "68f7568b-e677-454b-a1e8-6c07a05e7570",
            "name": "MCP Server Trigger",
            "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
            "position": [
                580,
                980
            ],
            "webhookId": "562ffc95-cf8e-4d4d-8f5b-29b3ff22d5ee",
            "typeVersion": 1
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "=You are a helpful assistant. Whenever askes to update a task, call the get_tasks tools first to retrieve the appropriate task ids then use that to update the tasks.\n\nToday's date: {{ $now }}\n"
                }
            },
            "id": "635b8ecc-0f50-477d-8e19-631f868e30f6",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                1780,
                420
            ],
            "typeVersion": 1.8
        },
        {
            "parameters": {
                "sseEndpoint": "https://ai.gatuservices.info/mcp/562ffc95-cf8e-4d4d-8f5b-29b3ff22d5ee/sse"
            },
            "id": "ab7740dc-bac2-4044-8317-40d90252d992",
            "name": "MCP Client",
            "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
            "position": [
                1980,
                640
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                },
                "options": {}
            },
            "id": "5298eee0-747a-496a-a3a2-e395f7c1caa1",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                1740,
                640
            ],
            "typeVersion": 1.2,
            "credentials": {}
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Incoming Message').item.json.message.from.id }}",
                "contextWindowLength": 20
            },
            "id": "c5b7e10d-2d7c-403c-bcb5-a10033252f97",
            "name": "Simple Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "position": [
                1860,
                640
            ],
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "ab70dc2d-35d0-4742-988f-ed7077633467",
                            "name": "chatInput",
                            "type": "string",
                            "value": "={{ $json.message.text }}"
                        },
                        {
                            "id": "6439fc2c-dc2d-41fc-b8a3-b33ef80d2878",
                            "name": "id",
                            "type": "number",
                            "value": "={{ $json.message.from.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "06d2e8c8-3912-45cd-a074-4eea27c2e5eb",
            "name": "chatInput",
            "type": "n8n-nodes-base.set",
            "position": [
                1520,
                520
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "task": "MDg2MzM1OTA5NzI0NzUzNjUwNjc6MDow",
                "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title summary of the task to be done`, 'string') }}",
                "additionalFields": {
                    "completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completion_Date', `Date the task was completed`, 'string') }}",
                    "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `Date the task should be completed`, 'string') }}",
                    "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Detailed description of the task`, 'string') }}"
                }
            },
            "id": "a9309816-8c1d-435c-ad49-2e45053718c1",
            "name": "create_todays_task",
            "type": "n8n-nodes-base.googleTasksTool",
            "position": [
                420,
                1200
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "df6bd510-e63f-41b1-b5b4-d2c612d5b8d0",
                            "name": "chatOutput",
                            "type": "string",
                            "value": "={{ $json.output }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ad6cfc1a-7094-434a-98d1-a6f030067091",
            "name": "chatOutput",
            "type": "n8n-nodes-base.set",
            "position": [
                2180,
                420
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "chatId": "={{ $('Incoming Message').item.json.message.chat.id }}",
                "text": "={{ $json.chatOutput }}",
                "additionalFields": {
                    "appendAttribution": false,
                    "disable_notification": false
                }
            },
            "id": "e342066f-3cf8-4926-94df-798e831226be",
            "name": "sendMessage",
            "type": "n8n-nodes-base.telegram",
            "position": [
                2400,
                420
            ],
            "webhookId": "c5eb133f-338f-4918-8e49-83ac339d841b",
            "typeVersion": 1.2,
            "credentials": {}
        },
        {
            "parameters": {
                "task": "OFVvNlh6ZmhScHVvNll4dw",
                "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title summary of the task to be done`, 'string') }}",
                "additionalFields": {
                    "completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completion_Date', `Date the task was completed`, 'string') }}",
                    "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `Date the task should be completed`, 'string') }}",
                    "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Detailed description of the task`, 'string') }}"
                }
            },
            "id": "e4a1bc16-549f-46a2-92a8-a06e6023089c",
            "name": "create_upcoming_task",
            "type": "n8n-nodes-base.googleTasksTool",
            "position": [
                540,
                1200
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "operation": "update",
                "task": "RS1rbkNCS2JsdVFnVl80cg",
                "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', `The task id tom be marked as completed. Get it from the get tasks tool`, 'string') }}",
                "updateFields": {}
            },
            "id": "df71bb02-016d-4d56-b80d-404a60c0e7cf",
            "name": "complete_task",
            "type": "n8n-nodes-base.googleTasksTool",
            "position": [
                660,
                1200
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "operation": "getAll",
                "task": "MDg2MzM1OTA5NzI0NzUzNjUwNjc6MDow",
                "returnAll": true,
                "additionalFields": {}
            },
            "id": "a33812bd-986e-4762-87a0-199ff8a7c9aa",
            "name": "get_todays_tasks",
            "type": "n8n-nodes-base.googleTasksTool",
            "position": [
                780,
                1200
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "operation": "getAll",
                "task": "OFVvNlh6ZmhScHVvNll4dw",
                "returnAll": true,
                "additionalFields": {}
            },
            "id": "dcb3a6c9-5d7c-4fe6-8b52-f07cf74cfa0c",
            "name": "get_upcoming_tasks",
            "type": "n8n-nodes-base.googleTasksTool",
            "position": [
                900,
                1200
            ],
            "typeVersion": 1,
            "credentials": {}
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "version": 2,
                                    "leftValue": "",
                                    "caseSensitive": true,
                                    "typeValidation": "strict"
                                },
                                "combinator": "and",
                                "conditions": [
                                    {
                                        "id": "8415cc8d-65a2-448e-a106-1ceb54634dfd",
                                        "operator": {
                                            "type": "object",
                                            "operation": "exists",
                                            "singleValue": true
                                        },
                                        "leftValue": "={{ $json.message.voice }}",
                                        "rightValue": ""
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "Voice Note"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "id": "ce63c24a-ce2f-4e06-8ae5-7de75540d438",
            "name": "Switch",
            "type": "n8n-nodes-base.switch",
            "position": [
                640,
                420
            ],
            "typeVersion": 3.2
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "eb7f5d62-e4f3-4b4e-9f1b-6c329feafb3e",
                            "name": "file_id",
                            "type": "string",
                            "value": "={{ $json.message.voice.file_id }}"
                        },
                        {
                            "id": "803031b8-6b21-47fa-b339-ad674ccbbb1e",
                            "name": "file_unique_id",
                            "type": "string",
                            "value": "={{ $json.message.voice.file_unique_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a58488c3-38b8-4492-9f13-a900c7697812",
            "name": "audio_id",
            "type": "n8n-nodes-base.set",
            "position": [
                860,
                320
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "resource": "file",
                "fileId": "={{ $json.file_id }}"
            },
            "id": "83c2ecae-b601-4669-b820-b5c35d3f936e",
            "name": "download_audio",
            "type": "n8n-nodes-base.telegram",
            "position": [
                1080,
                320
            ],
            "webhookId": "c2dbc0eb-0f3a-4f11-9525-804bd5bef4b1",
            "typeVersion": 1.2,
            "credentials": {}
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "options": {}
            },
            "id": "4a496e3a-2e3a-4ce0-9344-192847de1760",
            "name": "transcribeAudio",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "position": [
                1300,
                320
            ],
            "typeVersion": 1.8,
            "credentials": {}
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d57b4fc2-10f7-46cd-a89c-0021a92f41d1",
                            "name": "chatInput",
                            "type": "string",
                            "value": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "38b6aa37-d279-4b1b-be42-7f7cc1bbe688",
            "name": "audioInput",
            "type": "n8n-nodes-base.set",
            "position": [
                1520,
                320
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "content": "## Main Function to Receive and Send Telegram Messages\n",
                "height": 540,
                "width": 2180,
                "color": 4
            },
            "id": "e524f12f-205f-4fc8-b2f0-b308ec4066b7",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                380,
                240
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## MCP Server to Carry Out Actions",
                "height": 480,
                "width": 640,
                "color": 3
            },
            "id": "709b252a-b5e8-4c7e-8bcd-a7092d588070",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                380,
                880
            ],
            "typeVersion": 1
        }
    ],
    "connections": {
        "Incoming Message": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "chatOutput",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MCP Client": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "chatInput": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "create_todays_task": {
            "ai_tool": [
                [
                    {
                        "node": "MCP Server Trigger",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "chatOutput": {
            "main": [
                [
                    {
                        "node": "sendMessage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "create_upcoming_task": {
            "ai_tool": [
                [
                    {
                        "node": "MCP Server Trigger",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "complete_task": {
            "ai_tool": [
                [
                    {
                        "node": "MCP Server Trigger",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "get_todays_tasks": {
            "ai_tool": [
                [
                    {
                        "node": "MCP Server Trigger",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "get_upcoming_tasks": {
            "ai_tool": [
                [
                    {
                        "node": "MCP Server Trigger",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "audio_id",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "chatInput",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "audio_id": {
            "main": [
                [
                    {
                        "node": "download_audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "download_audio": {
            "main": [
                [
                    {
                        "node": "transcribeAudio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "transcribeAudio": {
            "main": [
                [
                    {
                        "node": "audioInput",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "audioInput": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Incoming Message": [
            {
                "message": {
                    "chat": {
                        "id": 6043747866,
                        "type": "private",
                        "first_name": "Gatu"
                    },
                    "date": 1745294191,
                    "from": {
                        "id": 6043747866,
                        "is_bot": false,
                        "first_name": "Gatu",
                        "language_code": "en"
                    },
                    "voice": {
                        "file_id": "AwACAgQAAxkBAAMYaAcTb6Sm3bpJ_8Cc2q1q4vC7MLYAAg8ZAAJAOjlQQhWQOxUBqfU2BA",
                        "duration": 2,
                        "file_size": 9854,
                        "mime_type": "audio/ogg",
                        "file_unique_id": "AgADDxkAAkA6OVA"
                    },
                    "message_id": 24
                },
                "update_id": 656804764
            }
        ]
    },
    "meta": {
        "instanceId": "9af7d1c097e28661efa48a6043c8661963bc9e34884f73634479f5801169a44b",
        "templateCredsSetupCompleted": true
    }
}